<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LTI Demo</title>
    <script type="application/javascript"
            src="https://unpkg.com/boclips-js-security@4.0.2/dist/min/boclips-js-security">
    </script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
<div id="container" class="flex-container">
    <header class="boclips-header">
        <main class="boclips-header__content">
            <section>
                <div class="boclips-header__logo">
                </div>
            </section>
            <div id="logout-container"></div>
        </main>
    </header>
    <div id="resource-selection">
        <div id="resource-selection-options">
            <select class="resource-select" id="resource-select">
                <option value="/collections">/collections</option>
                <option value="/search">/search</option>
                <option value="/search-and-embed">/search-and-embed</option>
                <option value="/embeddable-videos">/embeddable-videos</option>
            </select>
            <input id="embed-video-option" type="text"/>
            <button id="select-resource-button" class="button--primary" onclick=submitForm()>
                <span>Get Resource</span>
            </button>
        </div>
    </div>
    <form id="outer-form"
          method="post"
          th:action="${initiateLoginUrl}"
          target="lti-resource"
          class="collapsed"
    >
        <label>
            iss
            <input type="text" name="iss" th:value="${issuerUrl}">
        </label>
        <label>
            login_hint
            <input type="text" name="login_hint" value="dummy_login_hint">
        </label>
        <label>
            target_link_uri
            <input id="target_link_uri_input" type="text" name="target_link_uri" value="">
        </label>
        <label>
            lti_message_hint
            <input id="lti_message_hint_input" type="text" name="lti_message_hint" value="">
        </label>
    </form>

    <iframe id="lti-resource"
            name="lti-resource"
            class="invisible grow">

    </iframe>
</div>

<script th:inline="javascript" type="application/javascript">
    const authOptions = {
        realm: 'boclips',
        clientId: 'backoffice-ui',
        requireLoginPage: true,
        authEndpoint: /*[[${authEndpoint}]]*/ "",
        onLogin: () => {
            console.log("%cLTI DEMO", "color: white; background-color: #0e69ff; font-size: 25px; border-radius: 8px; padding-right: 10px; padding-left: 10px;");

            const container = document.getElementById("logout-container");
            const button = document.createElement("button");
            button.innerText = "Logout"
            button.className = "button button--primary"
            button.onclick = (() => Boclips.default.getInstance().logout());
            container.appendChild(button);
        },
    };

    Boclips.default.createInstance(authOptions);
</script>
<script>
    const baseUrl = '[[${ltiBaseUrl}]]'
    const outerForm = document.getElementById("outer-form");
    const selectResourceButton = document.getElementById("select-resource-button");
    const ltiResourceFrame = document.getElementById("lti-resource");

    const resourceSelect = document.getElementById("resource-select");
    const targetLinkUriInput = document.getElementById("target_link_uri_input")
    const ltiMessageHintInput = document.getElementById("lti_message_hint_input")

    function getExtraParams() {
        if (resourceSelect.value === '/embeddable-videos') {
            return `/${document.getElementById("embed-video-option").value}`;
        }

        return "";
    }

    function updateLtiResourceToLaunch() {
        const extraParams = getExtraParams();

        targetLinkUriInput.value = baseUrl + resourceSelect.value + extraParams;
        ltiMessageHintInput.value = baseUrl + resourceSelect.value + extraParams;
    }

    updateLtiResourceToLaunch()

    const showExtraInput = (shouldShow) => {
        const hiddenInput = document.getElementById("embed-video-option");
        hiddenInput.style.display = shouldShow ? "inherit" : "none";
    };

    resourceSelect.addEventListener("change", function () {
        if (resourceSelect.value === '/embeddable-videos') {
            showExtraInput(true)
        } else {
            showExtraInput(false)
        }
    });

    function submitForm() {
        updateLtiResourceToLaunch()

        selectResourceButton.classList.add("button--loading");
        ltiResourceFrame.classList.add("invisible");
        outerForm.submit();
    }

    ltiResourceFrame.addEventListener("load", function () {
        selectResourceButton.classList.remove("button--loading");
        ltiResourceFrame.classList.remove("invisible");
    });
</script>
</body>

</html>
