<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LTI Demo</title>
    <script type="application/javascript"
            src="https://unpkg.com/boclips-js-security/dist/min/boclips-js-security">
    </script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
<div id="container" class="flex-container">
    <header class="boclips-header">
        <main class="boclips-header__content">
            <section>
                <div class="boclips-header__logo">
                </div>
            </section>
            <div id="logout-container"></div>
        </main>
    </header>
    <div id="resource-selection">
        <div id="resource-selection-options">
            <input class="search-bar" value="/collections" disabled></input>
            <button id="select-resource-button" class="button--primary" onclick=submitForm()>
                <span>Get Resource</span>
            </button>
        </div>
    </div>
    <form id="outer-form"
          method="post"
          th:action="${initiateLoginUrl}"
          target="lti-resource"
          class="collapsed"
    >
        <label>
            iss
            <input type="text" name="iss" th:value="${issuerUrl}">
        </label>
        <label>
            login_hint
            <input type="text" name="login_hint" value="dummy_login_hint">
        </label>
        <label>
            target_link_uri
            <input type="text" name="target_link_uri" th:value="${targetLinkUri}">
        </label>
        <label>
            lti_message_hint
            <input type="text" name="lti_message_hint" th:value="${targetLinkUri}">
        </label>
    </form>

    <iframe id="lti-resource"
            name="lti-resource"
            class="invisible grow"
    >
    </iframe>
</div>

<script th:inline="javascript" type="application/javascript">
    const authOptions = {
        realm: 'boclips',
        clientId: 'backoffice-ui',
        mode: 'login-required',
        authEndpoint: /*[[${authEndpoint}]]*/ "",
        onLogin: () => {
            console.log("%cLTI DEMO", "color: white; background-color: #0e69ff; font-size: 25px; border-radius: 8px; padding-right: 10px; padding-left: 10px;");

            const container = document.getElementById("logout-container");
            const button = document.createElement("button");
            button.innerText = "Logout"
            button.className="button button--primary"
            button.onclick = (() => Boclips.default.getInstance().logout());
            container.appendChild(button);
        },
    };

    Boclips.default.createInstance(authOptions);
</script>
<script>
    const outerForm = document.getElementById("outer-form");
    const selectResourceButton = document.getElementById("select-resource-button");
    const ltiResourceFrame = document.getElementById("lti-resource");

    function submitForm() {
        selectResourceButton.classList.add("button--loading");
        ltiResourceFrame.classList.add("invisible");
        outerForm.submit();
    }

    ltiResourceFrame.addEventListener("load", function() {
        selectResourceButton.classList.remove("button--loading");
        ltiResourceFrame.classList.remove("invisible");
    });
</script>
</body>

</html>
